<form [formGroup]="userForm" class="padding-20" (submit)="onClickEditUser()">
  <h4> Edit User </h4>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Email" formControlName="email" required>
    <mat-error *ngIf="userForm.get('email').invalid"> {{getErrorMessage('email')}} </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput placeholder="Firstname" formControlName="first_name" required>
    <mat-error *ngIf="userForm.get('first_name').invalid"> {{getErrorMessage('first_name')}} </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="text" matInput placeholder="Lastname" formControlName="last_name" required>
    <mat-error *ngIf="userForm.get('last_name').invalid"> {{getErrorMessage('last_name')}} </mat-error>
  </mat-form-field>
  <br>
  <div>
    <button mat-button type="submit"> Edit User </button>
  </div>
</form>